.main-sidebar {
  img {
    width: 50px;
    margin-top: 30px;
    margin-left: 80px;
  }
  .menu {
    ul {
      // display: flex;
      
      justify-content: center;
      font-size: 20px;
      list-style: none;
      margin-top: 20px;
      line-height: 1.5;
      // font-weight: 500;
      margin-left: 40px;
      cursor: pointer;
      svg{
          margin-left: 15px;
      }
      div:hover {
        background-color: #E7E7E8;
        border-radius: 30px;
        width: fit-content;
        transition: color 100ms ease-out;
      }
      li {
        padding: 10px;
        margin-right: 15px;
        
        a{
          color: black;
          text-decoration: none;
        }
        
      }
      div {
        display: flex;
        align-items: center;
      }
    }
  }
  button {
    background-color: #1A8CD8;
    border-radius: 30px;
    border: #50B7F5;
    color: white;
    font-weight: bold;
    width: 60%;
    height: 50px;
    margin: auto;
    margin-left: 65px;
  }
}