.main-post {
  .post-content {
    display: flex;
    padding: 20px;
    &:hover {
      background-color: #F7F7F7;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
      margin-right: 20px;
    }
  }
  .text-div {
    height: fit-content;
    .name-icon{
      display: flex;
      margin-bottom: 0px;
      h6{
        margin: 0px;
        
      }
      svg{
        color: #1D9BF0;
        margin: 3px;
        margin-left: 1px;
      }
      p{
        margin-bottom :0px;
        margin-left: 1px;
        color: #7B8892;
        font-size: 14px;
      }
      
    }
    img {
      width: 100%;
      height: 50%;
      border-radius: 20px;
      border: 1px solid rgba(175, 174, 174, 0.929);
    }
    .icon {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 10px;
      color: #657580;
      
      .icon-text{
        display: flex;
        font-size: 12px;
        font-size: small;
      }
      
    }
    p{
      font-size: 14px;
    }
  }
}
